<!DOCTYPE html>
<html lang="en" ng-app="nibble" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nibble</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/ico" href="./favicon.ico"/>

  <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/materialize/bin/materialize.js"></script>
  

</head>
<body>
  <div class="page-wrapper">
    <div class="navbar-fixed">
      <nav class="nibble-color">
        <div class="nav-wrapper">
          <a href="" class="brand-logo"><img class="logo" src="./static/images/favicon.png"/>Nibble</a>
          <ul class="right">
            <span ng-show="user">
              <li title="Legg til cash">
                <a class="nav-btn" href="#addCashModal" modal>
                  <i class="material-icons pre-icon inline">add</i>
                  <i class="material-icons inline">attach_money</i>
                  <span class="hover-text"><br>Påfyll</span>
                </a>
              </li>
              <li title="Ta ut cash">
                <a class="nav-btn" href="#withdrawCashModal" modal>
                  <i class="material-icons pre-icon inline">remove</i>
                  <i class="material-icons inline">attach_money</i>
                  <span class="hover-text"><br>Ta ut</span>
                </a>
              </li>
            </span>
            <li title="Hjelp"><a class="nav-btn" href="#helpModal" modal><i class="material-icons">help_outline</i><span class="hover-text">Hjelp</span></a></li>

            <span ng-show = "user">
              <li title="Min bruker">
                <a class="nav-user" data-activates="user-action">
                  <span>{{ user.name }} </span>
                  <small> {{ user.balance }}kr</small>
                </a>
                <ul class="dropdown-content" id="user-action">
                  <!--View spesifict functions?-->
                  <!--'History' will so show a modal with a history of all sessions-->
                  <li><a href="#historyModal" modal>Kjøpshistorikk</a></li>
                  <li><a class="addMoneyTrigger" href="#addCashModal" modal>Legg til penger</a></li>
                  <!--'Ta ut penger' will so show a modal with for widthdrawing money-->
                  <li><a href="#withdrawCashModal" modal>Ta ut penger</a></li>

                </ul>
              </li>
              <li>
                <a class="nav-btn alt nibble-text" title="Avbryt og logg ut" href="#/" ng-click="logout()">
                  <i class="material-icons">exit_to_app</i>
                  <span class="hover-text">Exit</span>
                </a>
              </li>
            </span>
          </ul>
        </div>
      </nav>
    </div>

  <div ng-view></div>


  <div id="registerModal" class="modal add-money lean-overlay">
      <div class="modal-content">
          <h4>Registrer ny bruker</h4>
          <h5>Studentkort</h5>
          <p>
          <b>Legg studentkortet ditt i RFID scanneren og fyll ut ditt Onlineweb brukernavn og passord.</b>

          <div class="input-field col s6">
            <input ng-model="register.user" id="reg_user" type="text">
            <label for="reg_user">Brukernavn</label>

            <input ng-model="register.password" id="reg_pass" type="password">
            <label for="reg_pass">Passord</label>

            <input ng-model="register.rfid" id="reg_rfig" type="integer">
            <label for="reg_rfig">RFID</label>
          </div>
          
          </p>
      </div>
      <div class="modal-footer">
          <a href class="modal-action modal-close waves-effect btn-flat">Avbryt</a>
          <button ng-click="registerUser(register)" ng-disabled="checkRegister(register)" class="modal-action modal-close waves-effect btn nibble-color lighter
">Registrer</button>
      </div>
  </div>

  <div id="addCashModal" class="modal add-money lean-overlay">
      <div class="modal-content">
          <h4>Legg inn penger</h4>
          <h5>Kontant</h5>
          <p>
          <b>Legg kontant i pengekassa som står i kjøleskapet, så registrer samme beløp her!</b>

          <!--TODO: Fix css for the buttons-->
          <div class="radio-group">
            <button class="btn-large" ng-click="enableCustomAmount()">Velg beløp</button>
            <span ng-repeat="amount in cash_amounts track by $index">
              <button class="btn-large" ng-click="selectAddAmount(amount)">{{amount}} kr</button>
            </span>
          </div>

          <br>
          <!--TODO: Fix css to keep modue size from changing when hidden-->
          <div class="input-field col s6" ng-hide="">
            <input ng-model="add_money_amount" ng-disabled="custom_amount_disabled" id="custom_amount" type="text" >
            <label for="custom_amount">Skriv beløp</label>
          </div>
          
          </p>
      </div>
      <div class="modal-footer">
          <a href class="modal-action modal-close waves-effect btn-flat">Avbryt</a>
          <button ng-click="addMoney(add_money_amount)" ng-disabled="invalidAmount(add_money_amount)" class="modal-action modal-close waves-effect btn nibble-color lighter
">Sett inn</button>
      </div>
  </div>

  <div id="withdrawCashModal" class="modal add-money lean-overlay">
      <div class="modal-content">
          <h4>Ta ut penger</h4>
          <h5>Kontant</h5>
          <p>
          <b>Velg beløpet du ønsker å ta ut, så ta pengene fra pengekassa i kjøleskapet!</b>

          <div class="radio-group">
            <button class="btn-large" ng-click="enableCustomAmount()">Velg beløp</button>
            <span ng-repeat="amount in cash_amounts track by $index">
              <button class="btn-large" ng-click="selectWithdrawAmount(amount)">{{amount}} kr</button>
            </span>
          </div>

          <br>
          <div class="input-field col s6" >
            <input ng-model="withdraw_money_amount" ng-disabled="custom_amount_disabled" id="withdraw_custom_amount" type="text" >
            <label for="withdraw_custom_amount">Skriv beløp</label>
          </div>
          
          </p>
      </div>
      <div class="modal-footer">
          <a href class="modal-action modal-close waves-effect btn-flat">Avbryt</a>
          <button ng-click="withdrawMoney(withdraw_money_amount)" ng-disabled="invalidAmount(withdraw_money_amount)" class="modal-action modal-close waves-effect btn nibble-color lighter
">Ta ut</button>
      </div>
  </div>

  <div id="checkoutModal" class="modal modal-fixed-footer add-money lean-overlay">
      <div class="modal-content valign-wrapper row">
        <div class="valign center-align col s12">
          <!--<i class="material-icons large-icon green-text">check_circle</i>-->

          <div class="checkmark">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px" viewBox="0, 0, 100, 100" id="checkmark">
                  <g transform="">
                    <circle class="path" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="44"/>
                      <circle class="fill" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="44"/>
                    <polyline class="check" fill="none" stroke="#7DB0D5" stroke-width="8" stroke-linecap="square" stroke-miterlimit="10" points="70,35 45,65 30,52  "/>
                  </g>
              </svg>
          </div>

          <h4 class="thinner" id="order-status">Handel fullført</h4>
          <h5>
            <div class="row">
              <div ng-repeat="element in shopQueue track by $index">
                <span class="col s6 bold right-align padd">
                {{ element.item.name }}
                </span>
                <span class="col s6 thinner left-align padd">
                  {{ element.count }} x {{ element.item.price }},-
                </span>
              </div>
            </div>
          </h5>
          <h5 class="thinner grey-text darken-2">
            <b>{{ user.balance }}kr</b> igjen
          </h5>
        </div>
      </div>
      <div class="modal-footer">
          <a href ng-click="newOrder()" class="modal-action modal-close waves-effect btn-flat">Ny handel</a>
          <a ng-click="logout()" class="modal-action modal-close waves-effect btn blue-grey darken-1">Logg ut nå ({{ceil(logoutTimer)}})</a>
      </div> 
  </div>
  <div id="helpModal" class="modal lean-overlay">
      <div class="modal-content">
          <h4>Hjelp</h4>
          <b>Hvordan legger jeg inn penger?</b>
          <p>
            Du kan legge inn penger manuelt på appen etter du har logget inn eller du kan legge til med ditt kredittkort på online.ntnu.no under min profil.
          </p>
          <b>Det er tomt for en vare, hva gjør jeg?</b>
          <p>Det er funksjonalitet for automatisk varsling under utvikling men foreløpig må du sende mail til trikom@online.ntnu.no.</p>
	  <b>Jeg fant en feil, hva gjør jeg?</b>
	  <p>Legg til en issue på github.com/dotKom/nibble/ eller send en mail til dotkom@online.ntnu.no</p>
      </div>
      <div class="modal-footer">
          <a href class="modal-action modal-close waves-effect btn-flat">Lukk</a>
      </div>
  </div>
  <div id="historyModal" class="modal lean-overlay">
    <div class="modal-content">
      <ul class = "collection with-header">
        <li class = "collection-header"><h4>Kjøps historikk</h4></li>
        <li class = "collection-item" ng-repeat="entry in user.history track by $index">
          {{ entry.name }} - {{ entry.amount }}
        </li>
      </ul>
    </div>
    <div class="modal-footer">
        <a href class="modal-action modal-close waves-effect btn-flat">Lukk</a>
    </div>
  </div>
  
  
  <div id="regModal" class="modal col m2 l2 lean-overlay">
      <div class="modal-content">
        <h4>Registrer - Nibble</h4>
        <p>
          Fyll inn ditt brukernavn og passord for å knytte rfidekortet opp mot din online bruker
        </p>
        <form ng-submit="submit_reg()" id="reg-form">
          <div class="row">
            <div input-field class="input-field col m12 l12">
              <input class="col" name="username" id="user-username" type="text" />
              <label for="user">Username</label>
            </div>
            <div input-field class="input-field col m12 l12">
              <input name="password" class="col" id="user-password" type="password"/>
              <label for="password">Password</label>
            </div>
          </div>
        </form>
      </div>
      
      <div class="modal-footer">
        <a href class="modal-action modal-close waves-effect btn-flat">Avbryt</a>
        <a href ng-click="submit_reg()" class="waves-effect btn-flat">Registrer</a>
      </div>
  </div>
  
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
  <script src="views/api/config.js"></script>
  <script src="views/api/module.js"></script>
  <script src="views/api/factories.js"></script>
  <script src="views/api/providers.js"></script>
  <script src="views/login/login.js"></script>
  <script src="views/shop/shop.js"></script>
  <script src="views/kvitering/kvitering.js"></script>
  <script src="app.js"></script>
</body>
</html>
