<!--
  Not very good looking atm, just tmp
-->

<div class="row">
  <div class="col m8 l8 offset-m2 offset-l2">
  <!-- Maybe a slider with trending/new items? -->
    <div class="slider" slider>
      <ul class="slides">
        <li>
          <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>

    <div class="card amber darken-1">
      <div class="card-content white-text">
        <span class="card-title">Scan ditt studenkort for å handle</span>
        <p>
            Lorem ipsum do we even need any text here, maybe how to use the system and what it is 
        </p>
        <form ng-show="development" id="rfid-form">
          <!--Rfid input field -->
          <div input-field class="input-field">
            <input class="/*hidden*/" type="text" id="rfid-input" name="rfid" ng-model="user.rfid"/>
            <label for ="rfid-input">Input field for rfid</label>
          </div>
        </form>
        <form ng-show="validation_fail" id="reg-form">
          <div class="row">
          <div input-field class="input-field col m6 l6">
            <input ng-model="user.username" class="col" id="user" type="text" />
            <label for="user">Username</label>
          </div>
          <div input-field class="input-field col m6 l6">
            <input ng-model="user.password" class="col" id="password" type="password"/>
            <label for="password">Password</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>