<div class="row">
  <div class="col m6 l6 center-wrapper">
    <div class="card nibble-color alt">
      <div class="card-content white-text">
        <span class="card-title">Scan ditt studenkort for å handle</span>
        <form ng-submit="submit_login()" ng-show="development" id="rfid-form">
          <!--Rfid input field -->
          <div input-field class="input-field">
            <input class="/*hidden*/" type="text" id="rfid-input" name="rfid"/>
            <label for ="rfid-input">Input field for rfid</label>
          </div>
        </form>
      </div>
    </div>
  
    <div class="card row">
      <table class="col m6 l6" ng-repeat="itemCol in itemCols">
        <tr class="item_box" ng-repeat="element in itemCol track by $index"> 
          <td class="item_name inventory-list">
            {{ element.name }}
          </td>
          <td class="item-count inventory-list">
            {{ element.price }} kr
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>