<div class="row">
  <div class="col m9 l9 offset-m1 offset-l1">

    <div ng-repeat="item in items track by $index" class="col s4 noselect">
      <div class="card small hoverable clickable" ng-click="changeCount(item,1)">
        <div class="card-image waves-effect waves-block waves-light" style="background-image: url({{item.image}});">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            {{ item.name }}
          </span>
          <span class="item-count">
            {{ item.price }}kr <span class="thin" ng-show="item.dispCount != 0"> x {{ item.dispCount }}</span>
          </span>
        </div>
        <div class="card-action">
          <a class="add waves-effect waves-blue btn btn-flat nibble-color lighter left-align" href="">
            LEGG TIL
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="col m3 l3 z-depth-2 side-nav fixed">
      <h5>
        <span ng-show="!totalSum">Din saldo: </span>
        <span ng-show="totalSum">Du har </span>
        {{ user.balance - totalSum }}kr 
        <span ng-show="totalSum">igjen</span>
        <small ng-show="totalSum"><br>(etter fullført kjøp)</small>

        <div ng-show="user.balance == 0" class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Du må sette inn penger for å kunne kjøpe varer!</span>
          </div>
          <div class="card-action fullwidth">
            <a href="#addCashModal" modal class="green white-text fullwidth">
              <span class="fullwidth">Sett inn penger</span>
            </a>
          </div>
        </div>
       
      </h5>
      <table>
        <thead class="thead">
          <tr>
              <th data-field="id"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="item_box" ng-repeat="element in shopQueue track by $index"> 
            <td>
              <span class="item_name">
                {{ element.item.name }}
              </span> 
              <a class="remove waves-effect waves-red right" href="" ng-click = "changeCount(element.item,-element.count)">
                <i class="material-icons">clear</i>
              </a>
              <a class="item-count right" href="#">
                {{ element.count }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="checkout">
        <div class="sum">Total: <span class="right">{{ totalSum }},-</span></div>
        <button ng-disabled="!totalSum" ng-click="checkout()" class="buy waves-effect waves-light nibble-color success btn-large">Kjøp</button>
      </div>
  </div>
</div>
