<!-- "Kvitering"s side som vises etter kjøp -->
<div class="row">
  <div class="col m6 l6 offset-m3 offset-l3">
    <div class="card amber darken-1 valign">
      <div class="card-content white-text">
        <h2 >Takk for handelen</h2>
        <h3>
          Din saldo er nå: {{ user.balance }}kr
        </h3>
        <a class = "btn left" href = "#/shop">Ny ordre</a>
        <a class = "btn right" href = "#/" ng-click = "logout()">Logg ut nå({{ floor(logoutTimer) }})</a>
        <h3>Stygge saker :/</h3>
      </div>
    </div>
  </div>
</div>